@import './common.scss';

$footerBrdrClr: #424040;

.footer {
    &-container {
        color: $clrWhiteDrk;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $footerBrdrClr;
    }
}