.news-feed {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-search-form {
            width: 30%;
            margin-top: 150px;
            margin-bottom: 30px;
        }

        &-list {
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
}

.news-feed-item {
    list-style: none;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.307);

    &-link {
        display: flex;
        justify-content: space-between;
        color: var(--clrWhite);
        text-decoration: none;
    }

    &-link:hover {
        text-decoration: underline;
    }

    &-image-container{
        width: 100px;
        height: 100px;
    }

    &-image{
        border-radius: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}


