@import './common.scss';

.news-content {
    &-img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        margin: 20px 0;
    }

    &-text {
        font-size: clamp(16px, 2vw, 18px);
        line-height: 1.7;
        padding-bottom: 50px;

        /* Small devices */
        @media screen and (max-width: 575.98px) {
            line-height: 1.5;
        }
    }

    &-firstphrase {
        font-size: 1.4em;
        color: $clrPrimary;
    }
}